{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <li>
    <h3 style="margin-top: 0.5em; margin-bottom: 0.25em;">
      {{ title }}
    </h3>
    <p style="margin: 0;"> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
    <p style="margin: 0;">
    [<a href="https://mmrahman-utexas.github.io/teaching/">Details</a>]
    </p>
    </li>
  </article>
</div>
